.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }

  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }

  .Button:hover:active {
    background-color: var(--main-blue) !important;
  }

  .Button:active {
    background-color: var(--main-blue) !important;
  }

  .Button:focus {
    background-color:var(--main-blue);
  }

  .Wide {
    padding: 10px 50px;
    width: 100%;
  }

  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: var(--main-blue);
    color: var(--main-black);
    
  }

  .BlueOutline,
  .Blue:hover {
    background-color: var(--main-white);
    color: var(--main-blue);
  }

  .Black,
  .BlackOutline:hover {
    background-color: var(--main-black);
    color: var(--secondary-blue);
  }

  .Black:hover,
  .BlackOutline {
    background-color:var(--secondary-blue);
    color: var(--main-black);
  }

  .Bright {
    background-color: var(--main-blue);
    color: var(--main-white);
    font-weight: bold;
  }
