.Form {
    border: none;
    border-bottom: var(--border);
  }
  
  .Button {
    border: none;
    background-color: var(--main-black);
    color: var(--secondary-blue);
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color:var(--secondary-blue);
    color: var(--main-black);
  }