.NavBar {
    background-color: var(--main-white);
    border: var(--border);
    box-shadow: var(--small-box-shadow);
}
.NavLink {
    padding: 5px;
    text-decoration: none;
}

.Active i {
    color: var(--secondary-blue);
}
