.Post {
    background-color: #ffffff;
    box-shadow: var(--small-box-shadow)!important;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    padding: 0 2rem;
    border: var(--border);
  }



  .Post figure,
  h5 {
    margin: 0 0;
  }

  .Heart {
    color: #f85032;
  }

  .Heart:hover {
    color: var(--secondary-blue);
  }

  .HeartOutline:hover {
    color: #f85032;
  }
