
:root {
  /** Root Colors */
  --main-pink: #fecddf;
  --main-white: #ffffff;
  --main-blue: #3fa5dc;
  --main-black: #1f173d;
  --light-gray: #f8f6fc;
  --secondary-blue: #ebe8fd;
  --main-green: #28dba5;

  /* Box shapes */
  --small-box-shadow: 1px -1px 7px 0 #f8f6fc;
  --border: 1px solid #ebe8fd;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2 {
  font-family: 'Roboto', sans-serif;
}
